<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lazy Blog</title>

    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.useso.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="../static/css/clean-blog.min.css" rel="stylesheet">
    <link href="../static/css/loading.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../view/index.html">Lazy Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="menu" href="../view/index.html">Home</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category<span class="caret"></span></a>
                        <ul id="category_menu" class="dropdown-menu"></ul>
                    </li> 
                    <li>
                    <a class="menu" href="../view/about.html">About</a>
                    </li>
                    <li>
                    <a class="menu" href="../view/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1><?=$category_name?></h1>
                        <hr class="small">
                        <div class="input-group">
                            <input id="search_input" type="text" autocomplete="off" class="form-control" style="height:52px;padding:10px 20px;font-size:20px;color:#49494C;font-weight:600">
                            <span class="input-group-btn">
                                <button id="search_button" class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <span class="subheading"><?=$description?></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div id="article_list" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <?php
                    if(isset($article_list)){
                        foreach($article_list as $row){
                            echo '<div class="post-preview">';
                            echo '<a href="../article/'.$row['id'].'.html">';
                            echo '<h2 class="post-title">'.$row['title'].'</h2>';
                            echo '<h3 class="post-subtitle">'.$row['abstract'].'</h3>';
                            echo '</a>';
                            echo '<p class="post-meta">Posted by xiaotian15 on '.$row['ctime'].'</p>';
                            echo '</div><hr>';
                        }
                    }
                ?>
                <div id="loading_page" style="width:100%;height:120px;margin-top:50px;display:none">
                    <div class="disqus-loader-bubble"><div class="disqus-loader-spinner"></div></div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- core js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../category/category.js"></script>
    <script src="../static/js/clean-blog.min.js"></script>
    <script type="text/javascript">
        var isFinished = <?php echo (isset($article_list) && count($article_list)>=$GLOBALS ['config'] ['article'] ['list_size'])?"false":"true"?>;
        var isRunning = false;
        var currentPage = 0;
        $(document).ready(function(){
                $(window).scroll(function(){
                    var scrollTop = $(this).scrollTop();
                    var scrollHeight = $(document).height();
                    var windowHeight = $(this).height();
                    if(scrollTop + windowHeight >= scrollHeight){
                    if(isFinished || isRunning )return;
                    isRunning = true;
                    $("#loading_page").css("display","block");
                    window.setTimeout(function(){
                        var postData=<?php echo isset($cid)?'{page:currentPage+1,cid:'.$cid.'}':'{page:currentPage+1}'?>;
                        $.post("../blog/ajax_article_list.php",postData,function(data) {
                            $("#loading_page").css("display","none");
                            if(data.status===1){
                            $result=data.result;
                            if($result.length<<?=$GLOBALS ['config'] ['article'] ['list_size']?>){
                            isFinished=true;
                            }
                            $.each($result,function(n,row) { 
                                $("#article_list").append('<div class="post-preview"><a href="../article/'+row.id+'.html"><h2 class="post-title">'+row.title+'</h2><h3 class="post-subtitle">'+row.abstract+'</h3></a><p class="post-meta">Posted by xiaotian15 on '+row.ctime+'</p></div><hr>');
                                });
                            currentPage=currentPage+1;
                            }else{
                            isFinished=true;
                            }
                            isRunning = false;
                            },"json");
                        },1000);
                    }
                });
                
                $("#search_button").click(function(){
                        isFinished=true;
                        var keyword=$("#search_input").val();
                        if(!keyword){
                            window.location.reload();
                        }
                        $("#article_list").html('<div id="loading_page" style="width:100%;height:120px;margin-top:50px;"><div class="disqus-loader-bubble"><div class="disqus-loader-spinner"></div></div></div>');
                        window.setTimeout(function(){
                            var postData=<?php echo isset($cid)?'{keyword:keyword,cid:'.$cid.'}':'{keyword:keyword}'?>;
                            $.post("../blog/ajax_article_search.php",postData,function(data) {
                                $("#loading_page").css("display","none");
                                if(data.status===1){
                                $result=data.result;
                                $.each($result,function(n,row) { 
                                    $("#article_list").append('<div class="post-preview"><a href="../article/'+row.id+'.html"><h2 class="post-title">'+row.title+'</h2><h3 class="post-subtitle">'+row.abstract+'</h3></a><p class="post-meta">Posted by xiaotian15 on '+row.ctime+'</p></div><hr>');
                                    });
                                currentPage=currentPage+1;
                                }else{
                                $("#article_list").html('<div>抱歉，该搜索没有结果，您如果还有什么问题，可以到<a href="../view/contact.html">contact</a>栏目@博主，但博主太懒了，不一定能帮您解决！</div>');
                                }
                                },"json");
                            },1000);
                        });
                $('#search_input').bind('keypress',function(event){
                        if(event.keyCode == "13"){
                            $("#search_button").click();
                        }
                        });
        });
    </script>
</body>

</html>
